*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
.firstbox{
    background-color: black;
    height: 100vh;
}

.navigation{
    color: aliceblue;
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 20px ;
    margin: 20px;
   ;
    
    
}
li{
    padding-right: 100px;
}

.but{
    background-color: black;
    color: aliceblue;
    margin: 10px;
    padding: 15px;
     padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border-color: chartreuse;
}


.cu{
    background-color:chartreuse;
    color: black;
    margin: 10px;
    padding: 15px;
     padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border-color: chartreuse;
}


.job{
    color: chartreuse;
    font-size: xx-large;
    text-align: center;
    font-size: 80px;

}

.po{
    color: white;
    font-size: xx-large;
    text-align: center;
    font-size: 80px;
}


.ap{
    color: gray;
    text-align: center;
}

.em{
    border: 1px solid grey;
    background-color: black;
    border-radius: 15px;
    padding: 10px 40px 10 40px;
    position: relative;
    
    
}

.bus{
    background-color:chartreuse;
    color: black;
    margin: 5px;
    padding: 5px;
     padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border-color: chartreusew;
    position: absolute;
    left:650px;
    
}
.cards{
    color:white;
}
.para{
    color: grey;
}

.container{
color: grey;
border: 1px solid grey;
width: 310px;
height: 180px;
font-size: 14px;
border-radius: 10px;
background-color: rgb(29, 24, 24);


}

.card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.secondbox{
    background-color:chartreuse;
    height: 100vh;
    
}

.better{
text-align: center;
padding: 40px;
}

.second{
    font-size: 100px
}

.ai{
    font-size: 15px;
}

.pho{
margin-left: 150px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
margin-top: 21px;
}

.thirdbox{
    background-color: black;
    height: 100vh;
}

.less{
    color:white;
    padding: 40px;
    text-align: center;
}

.of{
    color: grey;
    padding: 20px;
}

.fourthbox{
    height: 110vh;
   background-color: chartreuse;
}

.gpt{
   font-size: 60px;
   padding: 50px; 
   display: inline-block;
}

.lore{
    font-size: 20px;
}

.img{
float: right;
padding-right:140px ;
width: 300px;
height: 300px;
padding-top: 50px;
}

.img2{
padding-left: 40px;
padding-right: 500px;


}

.font2{
    font-size: 40px;
    display: inline-block;
}

.fifthbox{
    height: 50vh;
    background-color: black;
}

.free{
    color: aliceblue;
    font-size: 40px;
    padding-top: 60px;
    padding-left: 100px;
    display: inline-block;
}

.resu{
    color: grey;
    font-size: 20px;
    padding-left: 100px;
    
}

.img3{
    height: 200px;
    width: 200px;
    float: right;
padding-right: 70px;
margin-top: -200px;
}

.sixthbox{
    height: 80vh;
    background-color:chartreuse ;
}

.what{
    color: black;
    font-size: 60px;
}

.next{
    text-align: center;
    padding-top: 50px;
}

.plat{
    padding-top: 100px;
    padding-left: 50px;
    display: flex;

}

.formse{
    font-size: 30px;
}

.feat
{
    font-size: 30px;
}